@import "tailwindcss";

body {
  background-color: #F1F5F9 !important; /* slate-100 */
}
/* GLOBAL DARK MODE STYLES */

html.dark {
  --bg-main: #0f172a;    /* slate-900 */
  --bg-card: #1e293b;    /* slate-800 */
  --text-main: #f1f5f9;  /* slate-100 */
  --text-secondary: #94a3b8; /* slate-400 */
  --border-soft: #334155;    /* slate-700 */
}
:root {
  --card-bg: #ffffff;
  --border-color: #e5e7eb;
  --hover-gray: #f3f4f6;
}

html {
  scroll-behavior: smooth;
}

* {
  transition: all 0.15s ease-in-out;
}
